@import "themes/mocha.css";

* {
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 12px;
  background-color: transparent;
  background: @crust;          
  padding: 2px 2px;
  border-radius: 10px;
}

#pulseaudio, #cpu, #memory, #network, #bluetooth  {
    padding: 0 10px;
    margin: 6px 3px;
}

.modules-right{
   background-color: @mantle;
   border-radius: 10px;
   padding: 0 15px;
}

.modules-left{
   background-color: @mantle;
   border-radius: 10px;
   padding: 0 15px;
}

.modules-center{
   background-color: @mantle;
   border-radius: 10px;
   padding: 0 15px;
}

#clock {
  color: @pink;         
}

#cpu {
  color: @pink;  
}

#memory {
  color: @green;    
}

#network {
  color: @green; 
}

#pulseaudio {
  color: @green;
}

windows#waybar {
}

tooltip {
  background-color: @base;
  color: @pink;
}

#workspaces {

}

#workspaces button.persistent {
   color: @green
}

#workspaces button.empty {
    color: @grey;
}

#workspaces button.active {
    color: @pink;
    transition: all 0.3s ease-in-out;
}

#workspaces button {
   margin: 0 5px;
   transition: all 0.3s ease-in-out;
}
