[user]
    name = manuelqh-dev
    email = manuelqh.dev@gmail.com
[color]
    ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    cm = commit
    df = diff
    lg = log --oneline --graph --decorate --all

[credential]
    helper = cache

[core]
    editor = nano

[push]
    default = simple
